.tab-content {
  min-height: 500px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-top: none;
  margin-bottom: 30px;
  padding: 20px;
}

.exercises-list-cont {
  padding: 0 !important;
}
.exercises-list {
  margin-bottom: 0 !important;
}

.exercises-list .list-group-item {
  height: 60px;
  line-height: 35px;
  vertical-align: middle;
  font-size: 16px;
}

.thumb {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

i.trash {
  color: #c0392b !important;
  margin-right: 10px;
}

.foods-list-cont {
  padding: 0 !important;
}
.foods-list {
  margin-bottom: 0 !important;
}

.foods-list .list-group-item {
  height: 60px;
  line-height: 35px;
  vertical-align: middle;
  font-size: 16px;
}
