<div class="container">

  <div class="row mg" *ngIf="user">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <!-- Avatar & Basic Info -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="media">
                <div class="media-left">
                  <img class="media-object avatar" src="{{ user.avatar }}" alt="{{ user.name }}">
                </div>
                <div class="media-body">
                  <h2 class="media-heading truncate">{{ user.name }}</h2>
                  <div class="truncate"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ user.username }}</div>
                  <div class="truncate"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ user.email }}</div>
                  <div class="truncate"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="http://facebook.com/{{ user.fb }}" target="_new">fb.com/{{ user.fb }}</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="list-group avatar-actions">
                <a href="#" routerLink="/profile" class="list-group-item"><i class="fa fa-plus-square-o list-icon" aria-hidden="true"></i> Add User Data</a>
                <a href="#" routerLink="/profile" class="list-group-item"><i class="fa fa-pencil-square-o list-icon" aria-hidden="true"></i> Update User Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="panel panel-info list-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Activities</h3>
        </div>
        <div class="panel-body">
          <div class="list-group activity-list">
            <a href="#" class="list-group-item"><i class="fa fa-users list-icon" aria-hidden="true"></i> Add Friend</a>
            <a href="#" class="list-group-item"><i class="fa fa-cutlery list-icon" aria-hidden="true"></i> Add Food</a>
            <a href="#" class="list-group-item"><i class="fa fa-book list-icon" aria-hidden="true"></i> Add Recipe</a>
            <a href="#" class="list-group-item"><i class="fa fa-reply flip list-icon" aria-hidden="true"></i> Add Exercise</a>
            <a href="#" class="list-group-item"><i class="fa fa-reply-all flip list-icon" aria-hidden="true"></i> Add Exercise Routine</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
